<!DOCTYPE html>
<html>
<head>
  <title>Floofer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Rammetto+One|Roboto" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
        <h1><a href="/">Floofer   <span> for all your hiring needs!</span></a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <%- if current_user -%>
            <% if !current_user.avatar.path.nil? %>
              <% if current_user.avatar.path.start_with?("uploads") %>
                <img id="avatar" src="https://s3.amazonaws.com/floofr/<%= "#{current_user.avatar.path}" %>" alt="Avatar" />
              <% else %>
                <img id="avatar" src="<%= "#{current_user.avatar.path}" %>" alt="Avatar" />
              <% end %>
            <% end %>
            <li class="has-dropdown" id="dropdown">
              <a href="#"><%= "#{current_user.first_name} #{current_user.last_name}" %></a>
              <ul class="dropdown">
                <li><%= link_to 'Edit Info', edit_user_registration_path %></li>
                <li><%= link_to 'Add Floof', floofs_new_path %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              </ul>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
      </section>
    </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>

<footer>Copyright Floofer Incorporated ©</footer>
</html>
